<div *ngIf="showSpinner; then spinner else budget"></div>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
  <p>spinner</p>
</ng-template>
<ng-template #budget>
  <div *ngIf="budgetsExist; then budgetSummary; else createBudget"></div>
    <ng-template #budgetSummary>
        <div *ngIf="showBudgetSummarySpinner; else summaries"><mat-spinner></mat-spinner></div>
        <ng-template #summaries>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <div class="app-budget-summary-chart" *ngIf="firstMonthBudgetSummary">
                    <app-budget-summary-chart [budgetSummary]=firstMonthBudgetSummary></app-budget-summary-chart>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="app-budget-summary-chart" *ngIf="secondMonthBudgetSummary">
                    <app-budget-summary-chart [budgetSummary]=secondMonthBudgetSummary></app-budget-summary-chart>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
      </ng-template>
      <div *ngIf="showTransactionSpiner; else transactionTable"><mat-spinner></mat-spinner></div>
      <ng-template #transactionTable>
        <app-transaction-table [transactions]="transactions"></app-transaction-table>
      </ng-template>
    </ng-template>
    <ng-template #createBudget>
        <p>Looks like you have not created any budgets yet. Would you like to create them now?</p>
        <button mat-button routerLink="/newBudgets">Create</button>
    </ng-template>
</ng-template>
