<mat-toolbar color="primary" class="navbar">
    <!-- <div><img class="menu-img primary-logo" /></div> -->
    <div>MoneyMaker</div>

    <div>
        <button mat-button routerLink="/home">Home</button>
        <button mat-button>Cashflow</button>
        <button mat-button routerLink="/accounts">Accounts</button>
        <button mat-button [matMenuTriggerFor]="transactionMenu">Transactions</button>
        <mat-menu #transactionMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/transactions">All</button>
            <button mat-menu-item>Spending</button>
            <button mat-menu-item>Income</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="budgetMenu">Budget</button>
        <mat-menu #budgetMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/budgets">Budgets</button>
            <button mat-menu-item routerLink="/budget-overview">Overview</button>
        </mat-menu>
        <button mat-button>Goals</button>
        <button mat-button>Categories</button>
    </div>
    <div>
        <button mat-button>User Info</button>
    </div>
</mat-toolbar>