<div class="table-components">
  <app-page-header headerText="Budgets"></app-page-header>
  <div class="table-button">
    <button color="primary" mat-icon-button (click)="createBudget()"><mat-icon>add_box</mat-icon></button>
  </div>
</div>

<div *ngIf="dataLoaded; then dataLoaded else dataLoading"></div>
<ng-template #dataLoaded>

      <app-budget-table
          [budgets]="budgets"
          [budgetCategories]="budgetCategories"
          [frequencyTypes]="frequencyTypes"
          (budgetChange)="updateBudget($event)">
      </app-budget-table>

</ng-template>

<ng-template #dataLoading>
    <mat-spinner></mat-spinner>
</ng-template>
