<div class="table-components">
  <app-page-header headerText="Accounts"></app-page-header>
  <div class="table-button">
    <button color="primary" mat-icon-button (click)="createAccount()"><mat-icon>add_box</mat-icon></button>
  </div>
</div>
<div *ngIf="dataLoaded; then dataLoaded else dataLoading"></div>
<ng-template #dataLoaded>
    <app-account-table
        [accounts]="accounts"
        [accountTypes]="accountTypes"
        (accountChange)="updateAccount($event)">
    </app-account-table>
</ng-template>
<ng-template #dataLoading>
    <mat-spinner></mat-spinner>
</ng-template>
