<table mat-table [dataSource]="transactions" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="accountName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Account </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.account.name}}</td>
    </ng-container>

    <ng-container matColumnDef="budgetName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Budget </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.budget.name}}</td>
    </ng-container>

    <ng-container matColumnDef="budgetCategoryType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Type </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.budget.budgetCategory.type}}</td>
    </ng-container>

    <ng-container matColumnDef="budgetCategoryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.budget.budgetCategory.name}}</td>
    </ng-container>

    <ng-container matColumnDef="transactionCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Category </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.category.name}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.amount | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.description}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.date | date : 'mediumDate'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    
</table>