<div>
  <p>Match the csv header fields with the required transaction fields.</p>
  <form #f="ngForm" (ngSubmit)="returnHeaders()">
    <mat-form-field [hideRequiredMarker]="true" *ngFor="let head of requiredHeaders">
      <mat-label>{{ head.requiredValue }}</mat-label>
      <mat-select matNativeControl required ngModel [name]="head.requiredValue" (selectionChange)="updateRequiredHeaders(head, $event.value)">
        <mat-option *ngFor="let csvHeader of headers" [value]="csvHeader">
          {{csvHeader}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="btn btn-primary" [disabled]="!f.valid">Import</button>
  </form>
</div>
