.navbar {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

.primary-logo {
    /* content: url("../assets/images/menu_image_dark.png"); */
}

.menu-img {
    /*    height: 75px;*/
    height: 100%;
    width: auto;
}