<div class="app-import-container">
  <h3>Import Transactions</h3>
  <app-file-import (fileChange)="parseFile($event)"></app-file-import>
</div>

<div class="app-container" *ngIf="isCsv">
  <mat-form-field>
    <mat-label>Account</mat-label>
    <mat-select matNativeControl required [(ngModel)]="selectedAccount">
      <mat-option *ngFor="let account of accounts" [value]="account">
        {{ account.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="app-header-container">
    <app-csv-header-match
      [expectedHeaders]="expectedHeaders"
      [headers]="headers"
      (headersAssigned)="importCsv($event)">
    </app-csv-header-match>
  </div>
  <div class="app-table-container">
    <app-import-transaction-table
      [transactions]="transactions"
      (addToBudget)="addTransactionsToBudget($event)">
    </app-import-transaction-table>
  </div>
  <div class="app-budget-container">
    <div *ngFor="let budgetMap of budgetCounts">
        <h2>{{ budgetMap.name }}</h2>
        <app-budget-count 
          [budgetCounts]="budgetMap.budgetCounts" 
          [transactionsToAdd]="transactionsToAdd"
          (emitBudgetedTransactions)="addBudgetedTransactions($event)"></app-budget-count>
    </div>
  </div> 
</div>
