<div class="page-components">
  <app-page-header headerText="Budget Overview"></app-page-header>
  <div class="page-date-picker">
    <app-month-year-date-picker (dateChange)="updateCategories($event)"></app-month-year-date-picker>
  </div>
</div>
<div *ngIf="showSpinner; then spinner else budget"></div>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
<ng-template #budget>

  <div class="budget-charts">
    <div class="app-budget-summary-chart" *ngIf="firstMonthBudgetSummary">
        <app-budget-summary-chart [budgetSummary]=firstMonthBudgetSummary [title]=firstMonthTitle></app-budget-summary-chart>
    </div>
    <div class="app-budget-summary-chart" *ngIf="secondMonthBudgetSummary">
        <app-budget-summary-chart [budgetSummary]=secondMonthBudgetSummary [title]=secondMonthTitle></app-budget-summary-chart>
    </div>
  </div>

  <div *ngIf="showTransactionSpiner; else transactionTable"><mat-spinner></mat-spinner></div>
  <ng-template #transactionTable>
    <app-transaction-table [transactions]="transactions"></app-transaction-table>
  </ng-template>

</ng-template>
