.budget-charts {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.app-budget-summary-chart {
  flex: 1 1 auto;
  max-width: 900px;
  min-width: 450px;
}

.page-components {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0;
}

.page-date-picker {
  display: flex;
  align-items: center;
  margin-top: .8rem;
}
