/* .app-chart {
    width : 50vw;
    height : 50vh;
} */

/* mat-grid-list { */
    /* height: 100%; */
    /* max-height: 350px; */
    /* max-width: 1200px;
    height: fit-content;
} */

/* app-budget-summary-chart {
    width: 90%;
    height: 90%;
} */

.app-budget-summary-chart {
    width: 90%;
    height: 90%;
}

.page-components {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0;
}

.page-date-picker {
  display: flex;
  align-items: center;
  margin-top: .8rem;
}
