<mat-card class="app-card">
    <mat-card-header>
        <mat-card-title>Import Transactions</mat-card-title>
    </mat-card-header>

    <app-file-import (fileChange)="parseFile($event)"></app-file-import>

    <div *ngIf="isCsv">
      <div>
        <app-csv-header-match
          [expectedHeaders]="expectedHeaders"
          [headers]="headers"
          (headersAssigned)="importCsv($event)">
        </app-csv-header-match>
        <div class="app-table-container">
          <app-import-transaction-table
            [transactions]="transactions"
            (addToBudget)="addTransactionsToBudget($event)">
          </app-import-transaction-table>
        </div>
      </div>
      <div>
        <p>Budgets</p>
        <mat-list>
          <mat-list-item *ngFor="let budgetCount of budgetCounts">
            {{ budgetCount.budget.name }} {{ budgetCount.count }}
          </mat-list-item>
        </mat-list>
      </div>
    </div>

</mat-card>

